.modal-succeed-x{
	height:100%;
	position:fixed;
	top:0;
	left:50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	width:100%;
	max-width:640px;
	z-index:200;
	background:url(../image/gift/bg0.jpg) no-repeat;
	background-size: 100% 100%;
}
.modal-succeed-x .modal-succeed-content-x {
	margin:7.75rem 2.2rem 0 2.375rem;
	border:1px solid #FC9820;
	background: #ECECEC;
	height:12rem;
	border-radius:.4rem;
	position: relative;
}
.modal-succeed-x header{
	text-align:center;
	padding:0 .875rem;
	position:absolute;
	left:0;
	width:100%;
	top:-4.2rem;
}
.modal-succeed-x .modal-content-x{
	text-align:center;
	padding:4rem .3rem 0 .3rem;
}
.modal-succeed-x .modal-content-x h2{
	color:#F1323A;
	font-size:1.2rem;
	margin-bottom:.7rem;
}
.modal-succeed-x .modal-content-x h2 i{
	font-size:.9rem;
	color:#656565;
}
.modal-succeed-x .modal-content-x p{
	font-size:.7rem;
	margin-bottom:.7rem;
}
.modal-succeed-x .modal-content-x p i{
	color:#F1323A;
}
.modal-succeed-x .modal-content-x .part {
	display: block;
	margin:0 1.375rem;
	height:1.75rem;
	text-align:center;
	color:#FFF;
	background:#FC9820;
	line-height:1.75rem;
	font-size:.8rem;
	border-radius:.2rem;
} 
.modal-succeed-x footer{
	position:absolute;
	bottom:-1.5rem;
	left:0;
	width:100%;
	display:-webkit-box;
	display:-moz-box;
	display: box;
}
.modal-succeed-x footer a{
	display: block;
	height:3rem;
	padding:0 .25rem;
	text-align:center;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
}
.modal-succeed-x {
	font-size: .6rem;
}

