<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="org.sz.mbay.*.bean" />
	</typeAliases>

	<!-- <typeHandlers>
		<typeHandler
			handler="org.sz.mbay.base.persistence.mybatis.handler.DateTimeTypeHandler" />
		
	</typeHandlers> -->


	<mappers>
		<mapper resource="org/sz/ibatis/orm/User.xml" />
	</mappers>
	
</configuration>