*,*:before,*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body,h1,h2,h3,h4,dl,dt,dd,ul,ol,li,a,div,em,span,img,form,input,p,i {
	padding: 0;
	margin: 0;
	border: none;
}
body {
	color: #696969;
	font-weight: 400;
	text-rendering: optimizelegibility;
	font-size: .56rem;
}
em,i {
	word-wrap: break-word;
	font-style: normal;
}
a {
	color: #696969;
	text-decoration: none;
}
a:link,a:visited,a:active {
	color: #696969;
	text-decoration: none;
}
a,button,span,i,div,h2,aside {
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul,li {
	list-style: none;
}
h1,h2,h3,h4 {
	font-weight: 100;
}
input::-webkit-input-placeholder {
	color: #C2C2C2;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
	display: block;
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
}
html,body {
	-webkit-text-size-adjust: 100%;
}
input[type="button"],input[type="text"],input[type="submit"],input[type="search"],
input[type="email"],input[type="number"],input[type="phone"],button
{
	-webkit-appearance: none;
	outline: 0 none;
}
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
	visibility: hidden;
}
body {
	max-width: 640px;
	margin: 0 auto;
}
.shake-list-head {
	height: 2rem;
	background: #335C71;
	position: relative;
}
.shake-list-head>a {
	display: block;
	height: 100%;
	width: 1.8rem;
	background: url(../../../../common/img/icon_6.png) 50% 50% no-repeat;
	background-size: 1.2rem auto;
	margin-left: .2rem;
}
.shake-list-head>span {
	position: absolute;
	height: 1.2rem;
	top: 0;
	left: 2rem;
	line-height: 1.2rem;
	color: #FFF;
	font-size: .6rem;
}
.shake-list-head>.shake-login-j {
	background: url(../../../../common/img/icon_7.png) right center no-repeat;
	background-size: .6rem auto;
	padding-right: .8rem;
}
html,body {
	background: #fff;
}
/*主页*/
.shake-list-head {
	background: url(../../../../common/img/dh_14.png) no-repeat;
	background-size: cover;
	height: 7.68rem;
	position: relative;
}
.shake-list-head>a {
	display: block;
	height: 100%;
	width: 1.8rem;
	background: url(../../../../common/img/icon_6.png) 50% 5% no-repeat;
	background-size: 1.2rem;
	margin-left: .2rem;
}
.shake-list-head img {
	position: absolute;
	top: 27%;
	left: 10%;
	background-size: 30%;
	color: red;
}
.shake-list-head>span {
	position: absolute;
	top: 33%;
	left: 16%;
	color: red;
	font-size: .88rem;
}
.shake-inner-list {
	overflow: hidden;
	margin: 0 auto;
}
.shake-inner-list a img {
	float: left;
	margin: 0 auto;
	width: 100%;
}
.zhuan-mb {
	display: inline-block;
	background: #FDef31;
	width: 6rem;
	height: 1.8rem;
	color: #000;
	line-height: 1.8rem;
	border-radius: .12rem;
	font-size: .72rem;
}
.red-dis {
	background-color: #aaa;
}
.flow-number {
	background: url(../../../../common/img/dh_02.png) no-repeat;
	background-size: cover;
	height: 2.8rem;
	position: relative;
	margin-bottom: .2rem;
	text-align: center;
	line-height: 2.8rem;
}
.flow-number p {
	color: #fe7a00;
	font-size: .64rem;
	font-family: "arial";
}
.flow-number p span {
	font-size: .96rem;
	color: red;
}
.shake-inner-list {
	text-align: center;
}
.shake-inner-list a {
	display: inline-block;
	width: 32%;
}
.shake-inner-list .inner-list-dx {
	position: relative;
	height: auto;
}
.shake-inner-list .inner-list-yd {
	position: relative;
	height: auto;
}
.shake-inner-list .inner-list-lt {
	position: relative;
	height: auto;
}
.shake-inner-list span {
	position: absolute;
	color: #fff;
	font-size: 1.36rem;
	left: 45%;
	margin-left: -1.36rem;
	bottom: 21%;
}
.close {
	width: 1.2rem;
	height: 1.2rem;
	position: absolute;
	right: .2rem;
	top: .2rem;
}
/*正在兑换弹窗*/
.sus-pop {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(51, 92, 113, .9);
	top: 0;
	left: 0;
	z-index: 10;
	display: none;
}
.sus-pop article {
	width: 60%;
	text-align: center;
}
.sus-pop h2 {
	color: #fff;
	font-family: "黑体";
	padding-bottom: 1rem;
	font-size: .85rem;
}
.sus-pop p {
	color: #fff;
	font-family: "黑体";
}
.sus-pop .sus-pop-a1 {
	color: #39b2e0;
	text-decoration: underline;
}
.sus-pop .sus-pop-p1 {
	color: #71cb0e;
	padding-bottom: .5rem;
	font-size: .75rem;
}
.sus-pop .sus-pop-p2 {
	font-size: .65rem;
}
.sus-pop .sus-pop-p3 {
	display: block;
	margin: .2rem;
	text-align: left;
	padding: 0;
}
.sus-pop .sus-pop-p3 span {
	display: block;
	margin-bottom: .32rem;
}
/*兑换成功弹窗*/
/*余额不足弹窗*/
#accountInsufficient article {
	width: 80%;
}
.sus-pop .zhang-dada {
	border: 1px solid #fff;
	width: 100%;
	height: 2.8rem;
	border-radius: .12rem;
	line-height: 1.2rem;
	padding: .2rem;
	font-size: .7rem;
}
.sus-pop .zhang-xiaoxiao {
	position: relative;
}
.sus-pop .zhang-xiaoxiao>img {
	width: 20%;
	position: absolute;
	left: -8%;
}
.btn-wpp {
	text-align: center; 
	color: #000; 
	margin-top: 1rem;
}
#rechargeSuc .btn-wpp {
	margin-top: 2rem;
}
@media all and ( min-width:640px ) {
	.shake-list-head {
		height: 11.4rem;
	}
}
@media all and ( max-width:640px ) {
	.shake-list-head {
		height: 11.4rem;
	}
}
@media all and ( max-width: 414px ) {
	.shake-list-head {
		height: 7.4rem;
	}
	.shake-list-head img {
		height: 1.52rem;
	}
	.shake-list-head>span {
		position: absolute;
		top: 30%;
		left: 13%;
	}
}
@media all and ( max-width: 375px ) {
	.shake-list-head {
		height: 6.68rem;
	}
	.shake-list-head img {
		height: 1.32rem;
	}
	.shake-list-head>span {
		position: absolute;
		top: 28%;
		left: 13%;
	}
}
@media all and ( max-width: 320px ) {
	.shake-list-head {
		height: 5.68rem;
	}
	.shake-list-head img {
		height: 1.08rem;
	}
	.shake-list-head>span {
		position: absolute;
		top: 26%;
		left: 13%;
	}
}