@charset "utf-8";
/*身体*/
.body{margin-bottom: 30px;min-height: 600px;}
.left_con{font-family: 'Microsoft YaHei';}
.right_con{width:280px}
.r_sec{font-family:'Microsoft YaHei';width:250px;border:1px solid #E8E8E8;border-radius:4px;padding-left:15px;padding-right:15px;padding-bottom:20px;margin-bottom:10px}
.r_sec_tit{height:40px;border-bottom:1px solid #BFBFBF;line-height:40px;font-size:18px;color:#35618F}
.zhxx{padding-left:35px;background:url(../../../images/workimages/zhxx.jpg) no-repeat left}
.yxxx{padding-left:35px;background:url(../../../images/workimages/yxxx.jpg) no-repeat left}
.dlxx{padding-left:35px;background:url(../../../images/workimages/dlxx.jpg) no-repeat left}
.zh{height:95px;border-bottom:1px solid #BFBFBF;}
.zhbh,.zhlx{height:35px;line-height:35px}
.zh_wz{color:#5D5C5C;font-size:15px}
.mb_cx{height:90px;margin-bottom:15px;margin-top:10px}
.mbye,.xyed,.yhmb{height:30px;line-height:30px}
.mb_qb{color: #EC912D;font-size: 12px;letter-spacing: 1px;font-family: 'Arial';font-weight: bold;margin-right: 5px;margin-left: 5px;}
.btn_1{height:25px;text-align:center}
.btn_1 input{font-family: 'Microsoft YaHei';margin-right:10px;font-size:15px;color:#FFFFFF;height:25px;line-height:25px;width:86px;height:25px;border-radius:4px}
.sz{background:#4577AB;line-height:25px}
.cz{background:#FDAB1B;line-height:25px}
.clzt{height:38px;line-height:38px;font-size:15px;color:#35618F}
.zt{text-align:center;margin-bottom: 20px;}
.zt span{vertical-align: middle; display:inline-block;width:104px;height:22px;text-align:center;line-height:22px;font-family: 'Arial';color:#FFF;font-size: 20px;font-weight: bold;}
.zt_z{background:#FDAC1C;margin-right:35px}
.zt_g{background:#4677AC}
.zt_wz{height:30px;line-height:30px;text-align:center}
.zt_wz a{color:#3B699A;font-size:15px;}
.zt_wz a.zt_wz_a{margin-right:100px}

.mx{height:25px;border-radius:4px;line-height:25px;color:#FFF;background:#4577AB;letter-spacing: 2px;font-size:15px;font-family: 'Microsoft YaHei';width:100%}
.dl{height:55px;line-height:55px;color:#35618F;font-size:15px}
.dl_sl{font-size: 15px;color: #EC912D;font-family: 'Arial';font-weight: bold;}
/*my97日历控件*/
.hdrq{display: inline-block;vertical-align:middle;margin-right: 2px;vertical-align: text-top;}
#rq_1,#rq_2{border:1px solid #94ABC4;width:78px;height:26px;background: #fff;border-radius: 0px;color:#000;padding-left:5px;vertical-align: baseline;}
/*身体右边*/
.hdlb{padding-left:40px;background:url(../../../images/workimages/hdlb.jpg) no-repeat left;color:#35618F;font-size:18px;height:36px;line-height:35px;line-height: 45px;margin-bottom:15px}
.lb{border:1px solid #C2C2C2;font-size:15px;margin-bottom: 10px;}
.hd{padding:25px 40px;line-height:26px}
.hdbh,.hdmc{margin-right:10px;font-size:15px;color:#5D5C5C}
.bh,.mc{margin-right:20px;width:155px;line-height:16px;border:1px solid #CCCCCC;padding:4px;}
.hd_btn{width:73px;height:26px;color:#FFF;font-family:'Microsoft YaHei';background:#FDAB1B;border-radius:4px}
table{border:1px solid #C2C2C2;width:100%;border-collapse: collapse;margin-bottom:20px}
td,th{border:1px solid #C2C2C2}
th{padding: 10px;}
td a{padding: 0px 5px;;display:inline-block;color:#356190}
td a:hover{text-decoration:underline;color:#FDAC1C}
th{font-size:12px;color:#5D5C5C;background:#f3f3f3}
td{text-align:center;padding-top:15px;padding-bottom:15px}
.fy{height:25px;padding-left:45px}
.sel{width: 100px;height: 30px;border: 1px solid #c1c1c1;}

.zd{width:28px;height:26px;border:#4577AB 1px solid;text-align:center;}
.qr{font-family:'Microsoft YaHei';width:38px;height:28px;background:#4577AB;color:#fff;border-radius:4px;line-height:28px;}
.sexy {margin-left:20px;}
