@charset "utf-8";
/*注册栏目*/
.reg_s {
	background: #F9F9F9;
	overflow: hidden
}
/*进度栏*/
.jindu {
	margin-top: 70px;
	height: 90px;
	margin-bottom: 50px
}

.jd {
	height: 90px;
	position: relative
}

.jd_box {
	height: 30px;
	width: 60px;
	margin-top: 30px
}

.jd_1 {
	background: url(../../images/person/images/icons/mb_1.png) center
		no-repeat
}

.jd_2 {
	background: url(../../images/person/images/icons/mb_6.png) center
		no-repeat
}

.jd_3 {
	background: url(../../images/person/images/icons/mb_3.png) center
		no-repeat
}

.jd_4 {
	background: url(../../images/person/images/icons/mb_4.png) center
		no-repeat
}

.jd_5 {
	background: url(../../images/person/images/icons/mb_5.png) center
		no-repeat
}

.jd_b {
	height: 90px;
	width: 148px;
	background: url(../../images/person/images/icons/jd_bar.jpg) center
		no-repeat
}

.sp {
	background: url(../../images/person/images/icons/jd_bar_2.jpg) center
		no-repeat
}
/*进度条文字*/
.wenzi_1 {
	position: absolute;
	bottom: 5px;
	left: 7px;
	color: #f16f20;
	font-family: 'Microsoft YaHei';
}

.wenzi_2 {
	position: absolute;
	bottom: 5px;
	left: 226px;
	color: #f16f20;
	font-family: 'Microsoft YaHei';
}

.wenzi_3 {
	position: absolute;
	bottom: 5px;
	left: 420px;
	color: #b7b7b7;
	font-family: 'Microsoft YaHei';
}

.wenzi_4 {
	position: absolute;
	bottom: 5px;
	left: 630px;
	color: #b7b7b7;
	font-family: 'Microsoft YaHei';
}

.wenzi_5 {
	position: absolute;
	bottom: 5px;
	left: 850px;
	color: #b7b7b7;
	font-family: 'Microsoft YaHei';
}
/*个人注册*/
.zhaohui {
	font-family: 'Microsoft YaHei';
	width: 880px;
	margin: 0px auto;
	box-shadow: 0 0 5px #c7c5c5;
	box-shadow: 0 0 5px #c7c5c5;
	border: 1px solid #e7e7e7;
	margin-bottom: 200px;
	background: white;
	height: 400px;
	margin-top: 100px;
	font-size: 14px;
}

.tip {
	background: url(../../images/icons/tb.png) no-repeat left;
	background-position: 0 -4px;
}

#zhmm {
	margin-top: 80px
}

span#sp_wz {
	color: #FD7D23;
	padding-left: 0px
}

.sj,.jym_wz,.sfz_wz {
	width: 260px;
	text-align: right;
	display: inline-block;
	margin-right: 70px
}

.sjhm .hm {
	margin-left: 0px
}

.hm {
	color: #F4A21C
}

.hq {
	width: 100px;
	height: 22px;
	background: #F4A21C;
	border-radius: 4px;
	color: #FFF
}

.sjhm,.jym,.sfzhm,.an {
	margin-bottom: 30px
}

.an a {
	color: #F4A21C
}

.zhaohui b {
	color: red
}
/*.xmm,.qrxmm{width:180px;height:15px;border: 1px solid #A6A6A6;padding: 5px 0px 5px 5px;}*/
.an {
	margin-top: 50px;
	text-align: center;
}

.zhuce {
	font-family: 'Microsoft YaHei';
	width: 880px;
	margin: 0px auto;
	box-shadow: 0 0 5px #c7c5c5;
	box-shadow: 0 0 5px #c7c5c5;
	border: 1px solid #e7e7e7;
	margin-bottom: 200px;
	background: white;
	height: 530px
}

.zc_tit {
	text-align: center;
	color: #f16f20;
	margin-top: 20px;
	font-size: 20px;
	margin-bottom: 50px;
}

.zhuce label {
	display: inline-block;
	width: 300px;
	text-align: right;
	color: #4c4c4c;
	font-size: 14px;
	margin-right: 20px
}

.zhuce b {
	vertical-align: middle;
	color: #F00
}

.yzm {
	margin-left: 320px
}

#authcode {
	border: 1px solid #c1c1c1;
	width: 82px;
	height: 30px;
	display: inline-block;
	margin-right: 20px;
	text-align: center
}

.ma {
	display: inline-block;
	width: 82px;
	height: 30px;
	background: #063
}

.ma img {
	display: block
}

.yd {
	height: 20px;
	margin-top: 30px;
}

.yd a {
	color: #f16f20
}

.yd input {
	margin-left: 330px;
	margin-right: 10px;
}

.yd label {
	display: inline;
	width: 30px;
}

.use,.mima,.chongfu {
	margin-top: 30px;
	margin-bottom: 30px
}

.chongfu {
	margin-top: 0px
}

.mima {
	margin-bottom: 0px
}

.anniu {
	text-align: center;
	margin-top: 40px;
	clear: left
}
/*#fanhui,#tijiao,.closebtn{letter-spacing: 2px;text-align: center;cursor:pointer;display: inline-block;width: 83px;height: 37px;color:#FFFFFF;font-family:'Microsoft YaHei';font-size:14px;background:url(../../images/person/images/icons/btn.jpg) center no-repeat;border-radius: 4px;line-height:37px;}*/
#fanhui {
	margin-right: 20px
}

.anniu .btn_confirm {
	width: 100px
}
/*验证*/
label.error {
	width: 260px;
	text-align: left;
	margin-left: 10px;
	font-size: 1em;
	color: rgb(240, 23, 23);
	padding-left: 16px;
	background: url(../../images/error.png) no-repeat left
}

.yzm label.error {
	position: absolute;
	left: 377px;
	top: 292px;
	left: 377px;
}

.zhuce {
	position: relative;
}

.yzm {
	display: inline
}

.valid {
	background: url(../../images/reg_succ.png) no-repeat right;
}

.yzm label.error {
	padding-left: 16px;
	background: url(../../images/error.png) no-repeat left;
	width: 1px;
	height: 16px;
}
/*密码强弱*/
.qiang {
	background: url(../../images/person/images/4.jpg) no-repeat;
	width: 180px;
	height: 31px;
}

.zhong {
	background: url(../../images/person/images/3.jpg) no-repeat;
	width: 180px;
	height: 31px;
}

.ruo {
	background: url(../../images/person/images/2.jpg) no-repeat;
	width: 180px;
	height: 31px;
}

.ruox {
	background: url(../../images/person/images/1.jpg) no-repeat;
	width: 180px;
	height: 31px;
}

#div2 {
	height: 31px;
	width: 180px;
	margin-left: 362px;
}
/*弹出框*/
.zorro h2 {
	text-align: center
}